@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}

@mixin text-ellipsis($line: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	overflow: hidden;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
@mixin size($width, $height) {
	width: $width;
	height: $height;
	box-sizing: border-box;
}

@mixin square($width) {
	@include size($width, $width);
}

%left {
	float: left;
}

%right {
	float: right;
}

%abs {
	position: absolute;
}

%abs-center {
	@extend %abs;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%rel {
	position: relative;
}

%fix {
	position: fixed;
}

%flex {
	display: flex;
	align-items: center;
}

%flex-a {
	@extend %flex;
	justify-content: space-around;
}

%flex-b {
	@extend %flex;
	justify-content: space-between;
}

%flex-c {
	@extend %flex;
	justify-content: center;
}

@keyframes loading-rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}